.topheader {
  width: 100%;
  height: 5rem;
  background-color: orangered;
}

.header {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: "Sofia", sans-serif;
}

#main-input {
  font-family: "Architects Daughter";
  padding-left: 5px;
}

#main-input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid orangered;
  transition: 0.15s ease-in;
}

.btn {
  font-family: "Architects Daughter";
  color: white;
}

.btn:hover {
  background-color: orangered;
}

#list {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 2rem;
  font-family: "Architects Daughter";
}

#list li {
  border: 1px solid orangered;
  border-radius: 10px;
  font-size: 20px;
  padding: 12px 10px;
  margin-top: 8px;
}

.delebut {
  background-color: transparent;
  border: none;
  font-size: 19px;
  float: right;
  margin-top: 0px;
  outline: none;
}

.delebut:hover {
  color: red;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  outline: none;
}

.editicon {
  float: right;
  padding-top: 1px;
}

.editicon:hover {
  color: rgb(90, 90, 90);
  cursor: pointer;
}

#deleAlert {
  border: 2px solid orangered;
  background-color: white;
  border-radius: 10px;
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -180px;
}

.atten {
  background-color: orangered;
  text-align: center;
  padding: 12px 0px;
  font-family: "Architects Daughter";
  font-weight: bold;
  border: 0px solid orangered;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.alert {
  text-align: center;
  font-family: "Architects Daughter";
  margin-bottom: 0px;
  font-size: 19px;
}

#yes {
  background-color: transparent;
  border: 1px solid orangered;
  border-radius: 10px;
  font-family: "Architects Daughter";
  font-size: 19px;
  outline: none;
  margin: 0px 20px 15px 110px;
  padding: 2px 12px;
}

#no {
  background-color: transparent;
  border: 1px solid orangered;
  border-radius: 10px;
  font-family: "Architects Daughter";
  font-size: 19px;
  outline: none;
  padding: 2px 12px;
}

#yes:hover,
#no:hover {
  color: white;
  background-color: orangered;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

#comalert {
  display: none;
  background-color: orangered;
  color: white;
  animation: fadeIn 0.5s ease-in-out;
  position: absolute;
  right: 10px;
  bottom: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div.toast {
  background-color: orangered;
  font-family: "Architects Daughter";
}

#editbox {
  border: 2px solid orangered;
  background-color: white;
  border-radius: 10px;
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -220px;
}

#editfield {
  width: 400px;
  display: block;
  margin: 20px auto 0px auto;
  padding: 0px 10px;
  font-family: "Architects Daughter";
}

#editfield:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid orangered;
  transition: 0.15s ease-in;
}

#changebut {
  background-color: transparent;
  border: 1px solid orangered;
  color: black;
  border-radius: 10px;
  font-family: "Architects Daughter";
  font-size: 18px;
  outline: none;
  padding: 5px 12px;
  margin: 20px 0px 20px 172px;
}

#changebut:hover {
  color: white;
  background-color: orangered;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
